h1 {
    font-size: 3vwborder: 2px solid black;
  }
    
  body {
    background-color: bisque;
  }
  
  header {
    background-color: grey;
    color: white;
    height: 100px;
  }
  
  h1 {
    font-family: sans-serif;
    background-color: inherit;
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
  }
  
  main>h2 {
    font-family: sans-serif;
    font-size: 1.75em;
    width: max-content;
    padding: 30px;
    margin: auto;
    margin-bottom: 10px;
  }
  
  section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  article {
    border: 5px double black;
    background-color: skyblue;
    padding: 30px;
    margin-top: 30px;
  }
  
  article h2 {
    font-family: sans-serif;
    font-size: 1.75em;
    padding-bottom: 10px;
    text-decoration: underline;
  }
  
  p {
    font-size: 1.25em;
    font-family: sans-serif;
    margin-bottom: 15px;
  }
  
  ul {
    font-size: 1.75em;
    font-family: sans-serif;
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 15px;
  }
  
  li {
    font-family: sans-serif;
    font-size: .75em;
    margin-top: 15px;
  }
  
  img {
    margin-bottom: 30px;
  }
  
  table * {
    font-family: sans-serif;
    background-color: skyblue;
    border: 1px double black;
    padding: 8px;
    font-size: 1.25em;
  }
  
  th {
    font-weight:900;
  }
  
  td {
    text-align: center;
  }
  
  form {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  fieldset {
    width: 360px;
    border: 10px solid darkgray;
    border-radius: 8px;
    padding:40px;
    text-align: left;
    background: lightgray;
  }
  
  input {
    font-size: 20pt;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    display: block;
    margin-bottom: 16px;
    margin-top: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
  }
  
  input:focus, input:hover {
    background: salmon;
  }
  
  label {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
  }
  
  button {
    background-color: darkgreen;
    border: 6px solid burlywood;
    border-radius: 8px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 18pt;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  button:focus, button:hover {
    background: salmon;
  }
  
  footer {
    font-family: sans-serif;
    font-size: 1.5em;
    padding-top: 15px;
    text-align: right;
    padding-right: 10px;
    height: 100px;
    background-color: grey;
    color: white;
    margin-top: 30px;
  }